<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>Welcome to Device Registration</head>
<body>
  <form action="registered" method="post" enctype="application/x-www-form-urlencoded"><table>
    <tr>
      <td><label title="">UserName</label></td>
      <td><input type="text" name="userName" /></td>
    </tr>
    <tr>
      <td><label>Password</label></td>
      <td><textarea name="password"></textarea></td>
    </tr>
    <tr>
      <td><button>Register</button></td>
    </tr>
  </table>
</form>
</body>
</html>
